body {
    background-image: linear-gradient(#ffc600, white);
    height: 900px;

}

#to-do-or-not-to-do {
    font-size: x-large;
    text-align: center;
}

#add-todo {
    text-align: center;
}

#add-button {
    background-color: #364182;
    color:  white;
}

#todos {
    margin-top: 10px;
    text-align: center;
}

#todo-delete-button {
    color: white;
    background-color: orangered;
}

#todo-completed-button {
    color: white;
    background-color: green;
}

#tasks {
    margin-top: 10px;
}