body {
    background-image: linear-gradient(#ffc600, white);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;

}

#to-do-or-not-to-do {
    text-align: center;
}

#header-title {
    color: grey;
}
.title {
    text-align: center;
}

#addForm {
    text-align: center;
}

.list-group-item {
    margin-top: 1em;
    text-align: center;
    text-decoration: none;
}

.submit-button {
    color: white;
    background-color: green;
}

.btn {
    margin-left: 1em;
    color: white;
    background-color: red;
}

#items {
    list-style-type: none;
}