body {
    background-image: linear-gradient(#ffc600, white);
    height: 900px;

}

#To-Do-or-Not-To-Do {
    font-size: x-large;
    text-align: center;
}

#add-todo {
    text-align: center;
}

#add-button {
    background-color: #364182;
    color:  white;
}